h1 {
    /* color: rgba(0, 0, 255, 0.1); */
    color: #ff0000;
    font-size: 100px; 
    /* Do not change from 5 percent its required */
    opacity: 0.5;
}

body {
    background-color: rgb(0, 0, 0);
}